projects/*/Library
projects/*/Logs
projects/*/UserSettings
projects/*/*.sln
projects/*/*.csproj
projects/*/.idea
projects/*/obj
projects/*/Temp
projects/*/Assets/temp.txt
projects/*/Assets/temp.txt.meta
